/*COMMON.SASS*/

html
    background: url(../images/background.png)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

body, a
    font-family: $content
    font-size: $base *1
    color: $text-color
    text-decoration: none 
    #edit 
        color: $white 
       
h1 
    font-family: $title 
    color: $purple 
    font-size: $base - 2 
    text-align: left

h2 
    font-family: $sub-title
    color: $eggplant 
    font-size: $base * 4
    text-align: center    

    
   
            
