<% if !@error.nil? %>
  <p><%= @error %></p>
<% end %>

<h2> What is Your Number ? </h2>

<form action="/" method="post">

  <label for="birthdate">Enter your birthdate</label>
  <input type="date" name="birthdate"/>
  <button type="submit" value="submit">Show Me My Number </button>
</form>