<% if !@error.nil? %>
  <p><%= @error %></p>
<% end %>
<form action="/" method="post">
  <label for="birthdate">Enter your birthdate</label>
  <input type="text" name="birthdate">
  <input type="submit">
</form>