<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Numerology App</title>
  <link rel="stylesheet" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Diplomata|Merriweather&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.typekit.net/vcl2qfq.css">


  
</head>


<body>  
  
  
    <div class="header">
      <h1> Numerology</h1>
    </div>
    <div class="container">
     <%= yield %>
 
    </div>
  </body>
  
  </html>